doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:title" content="About me - Tony Yip")
        meta(property="og:type" content="profile")
        meta(property="og:url" content="http://tonyhhyip.me")
        <!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="./css/profile.css")
        title About Me - Tony Yip

    body.page-brand
        include nav.jade
        main.content
            .content-header.ui-header-bannder
                .container
                    .row
                        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
                            h1
                                block title
            .container
                .row
                    .col-md-10.col-md-offset-1
                        section.content-inner.margin-top-no
                            nav.tab-nav
                                ul.nav.nav-list
                                    li#tab-index
                                        a.waves-attach.waves-light(href="./")
                                            span.text-black About Me
                                    li#tab-works
                                        a.waves-attach.waves-light(href="./works.html")
                                            span.text-black My Works
                                    li#tab-contact
                                        a.waves-attach.waves-light(href="./contact.html")
                                            span.text-black Contact Me
                                    li
                                        a.waves-attach.waves-light(href="https://licson.net/post/author/tonyhhyip/")
                                            span.text-black Blog
                block content

        include footer

        script(src="https://www.google-analytics.com/analytics.js" async)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/1.4.0/fingerprint2.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.js")
        script(src="./app.js")
