header.mdl-layout__header.mdl-layout__header--waterfall.profile-header
    .mdl-layout__header-row.profile-logo-row
        span.mdl-layout__title
            .profile-logo
            span.mdl-layout__title About Me -Tony Yip

    .mdl-layout__header-row.profile-nav-row.mdl-layout--large-screen-only
        nav.mdl-navigation.mdl-typography--body-1-force-preferred-font
            block link
            a.mdl-navigation__link(href="https://licson.net/post/author/tonyhhyip/" target="_blank") Blog

.mdl-layout__drawer.mdl-layout--small-screen-only
    nav.mdl-navigation.mdl-typography--body-1-force-preferred-font
        block drawer
        a.mdl-navigation__link(href="https://licson.net/post/author/tonyhhyip/" target="_blank") Blog