extends ../layouts/default.jade
block link
    a.mdl-navigation__link(href="/") About Me
    a.mdl-navigation__link.is-active(href="/contact.html") Contact Me

block drawer
    a.mdl-navigation__link(href="/") About Me
    a.mdl-navigation__link.is-active(href="/contact.html") Contact Me

block content
    #page-contact.mdl-cell.mdl-card.mdl-shadow--4dp.profile-card
        .mdl-card__media
            img.article-image(src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" border="0" alt="Github")
        .mdl-card__title
            h2.mdl-card__title-text Github
        .mdl-card__supporting-text Get what I contribute in Open Source project. Follow and give me a star if you like my project.
        .mdl-card__actions.mdl-card--border
            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js.ripple-effect.mdl-button--primary(href="https://github.com/tonyhhyip") Go to my Github Profile
    .mdl-cell.mdl-card.mdl-shadow--4dp.profile-card
        .mdl-card__media
            img.article-image(src="https://www.facebookbrand.com/img/fb-art.jpg" border="0" alt="Facebook")
        .mdl-card__title
            h2.mdl-card__title-text Facebook
        .mdl-card__supporting-text Catching Up with my daily life status on Facebook
        .mdl-card__actions.mdl-card--border
            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js.ripple-effect.mdl-button--primary(href="https://www.facebook.com/hohong.yip") Go to my Facebook Profile
    .mdl-cell.mdl-card.mdl-shadow--4dp.profile-card
        .mdl-card__media
            img.article-image(src="http://3835642c2693476aa717-d4b78efce91b9730bcca725cf9bb0b37.r51.cf1.rackcdn.com/Instagram_App_Large_May2016_200.png" border="0" alt="Instagram")
        .mdl-card__title
            h2.mdl-card__title-text Instagram
        .mdl-card__supporting-text Catching Up with my photos on Instagram
        .mdl-card__actions.mdl-card--border
            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js.ripple-effect.mdl-button--primary(href="https://instagram.com/tonyhhyip") Check out my Instagram
    .mdl-cell.mdl-card.mdl-shadow--4dp.profile-card
        .mdl-card__media
            img.article-image(src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/2000px-New_Logo_Gmail.svg.png" border="0" alt="Email")
        .mdl-card__title
            h2.mdl-card__title-text Email
        .mdl-card__supporting-text Contact Me by email
        .mdl-card__actions.mdl-card--border
            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js.ripple-effect.mdl-button--primary(href="mailto:tony@opensource.hk") Send me an email
    .mdl-cell.mdl-card.mdl-shadow--4dp.profile-card
        .mdl-card__media
            img.article-image(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2000px-Telegram_logo.svg.png" border="0" alt="Email")
        .mdl-card__title
            h2.mdl-card__title-text Telegram
        .mdl-card__supporting-text Send me message on Telegram, I response fastest for Telegram
        .mdl-card__actions.mdl-card--border
            a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js.ripple-effect.mdl-button--primary(href="https://telegram.me/tonyhhyip") Contact Me by Telegram
