extends ../layouts/default.jade

block title
    span Contact Me

block content
    .row
        .col-md-4
            .card.card-brand
                .card-main
                    .card-header
                        .card-inner
                            .card-heading Github
                    .card-img
                        img.article-image(border="0" alt="Github" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png")
                    .card-inner
                        p Get what I contribute in Open Source project. Follow and give me a star if you like my project.
                    .card-action
                        .card-action-btn.pull-left
                            a.btn.btn-flat.waves-attach(href="https://github.com/tonyhhyip" target="_blank") Go to my Github Profile

        .col-md-4
            .card
                .card-main
                    .card-header
                        .card-inner
                            .card-heading Telegram
                    .card-img
                        img.article-image(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2000px-Telegram_logo.svg.png" border="0" alt="Telegram")
                    .card-inner
                        p Send me message on Telegram, it is my favourite.
                    .card-action
                        .card-action-btn.pull-left
                            a.btn.btn-flat.waves-attach(href="https://telegram.me/tonyhhyip" target="_blank") Contact Me by Telegram

        .col-md-4
            .card.card-green
                .card-main
                    .card-header
                        .card-inner
                            .card-heading Email
                    .card-img
                        img.article-image(src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/New_Logo_Gmail.svg/2000px-New_Logo_Gmail.svg.png" border="0" alt="Email")
                    .card-inner
                        p Contact me by email, old-style but useful and powerful
                    .card-action
                        .card-action-btn.pull-left
                            a.btn.btn-flat.waves-attach(href="mailto:tony@opensource.hk") Send me an email


    .row
        .col-md-4
            .card
                .card-main
                    .card-header
                        .card-inner
                            .card-heading Facebook
                    .card-img
                        img.article-image(src="https://www.facebookbrand.com/img/fb-art.jpg" border="0" alt="Facebook")
                    .card-inner
                        p Catching Up with my daily life status on Facebook
                    .card-action
                        .card-action-btn.pull-left
                            a.btn.btn-flat.waves-attach(href="https://www.facebook.com/hohong.yip" target="_blank") Go to my Facebook Profile
        .col-md-4
            .card
                .card-main
                    .card-header
                        .card-inner
                            .card-heading Instagram
                    .card-img
                        img.article-image(src="http://3835642c2693476aa717-d4b78efce91b9730bcca725cf9bb0b37.r51.cf1.rackcdn.com/Instagram_App_Large_May2016_200.png" border="0" alt="Instagram")
                    .card-inner
                        p Catching Up with my photos on Instagram
                    .card-action
                        .card-action-btn.pull-left
                            a.btn.btn-flat.waves-attach(href="https://instagram.com/tonyhhyip" target="_blank") Check out my Instagram
