extends ../layouts/default.jade

block title
    span About Me

block content
    .card
        .card-main
            .card-header
                .card-header-side.pull-left
                    .avatar
                        img(alt="My sticker" src="./images/sticker.png")
                .card-inner
                    span.card-heading About Me
            .card-img
                img.article-image(alt="My cover photo" src="./images/header.jpg")
            .card-inner
                p I love Maths and Hacking. For Maths, I love Algebra and Calculus. For Hacking, I am good at PHP and node.js.