extends ../layouts/default.jade

block title
    span My Works

block content
    .row
        .col-md-12
            section.content-inner.margin-top-no
                .card
                    .card-main
                        .card-inner
                            p Here show my works. Hope you love them.

                .card.card-brand
                    aside.card-side.card-side-img.pull-left
                        img.article-image(src='images/sticker.png' border='0' alt='Telegram Sticker')
                    .card-main
                        .card-inner
                            .card-heading Telegram Sticker
                                small &nbsp;Credit to Carmen Chui
                            .margin-bottom-lg
                                p It is a Telegram Sticker based on me. It is available on Telegram now!
                                p I hope you will like the sticker.
                        .card-action
                            .card-action-btn.pull-left
                                a.btn.btn-flat.waves-attach(href="https://telegram.me/addstickers/TonyYip") Add Sticker
