.profile-max-width {
  max-width: 900px;
  margin: auto;
}

.profile-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.padding-top {
  padding: 10px 0 0;
}

img.article-image {
  margin: auto;
  display: block;
  max-width: 300px;
  width: 100%;
}

footer {
  background-size: cover;
}