$green: rgb(76, 175, 80);
$purple: rgb(103, 58, 183);
$amber: rgb(255, 193, 7);

$primary: $amber;
$secondary: $green;

$brand-color:                  $palette-purple-500;
$brand-color-dark:             $palette-purple-700;
$brand-color-light:            $palette-purple-300;

$brand-color-accent:           $palette-green-a200;
$brand-color-accent-dark:      $palette-green-a400;
$brand-color-accent-light:     $palette-green-a100;
