.profile-logo {
  background: url(../images/logo.png) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.profile-logo-row {
  min-height: 200px;
}

.is-compact {
  .profile-logo {
    height: 50px;
    width: 50px;
    margin-top: 7px;
  }

  .profile-logo-row {
    min-height: auto;
  }
}